.body-class {
    font-family: "Lato", sans-serif;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  color: #ffffff;
}
.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1e1e1e;
    overflow-x: hidden;
    overflow-y: hidden; 
    padding-top: 20px;
    padding-left: 3px;
}
 

.sidenav .nav-link {
    padding: 10px 10px 10px 16px;
    text-decoration: none;
    font-size: 28px;
    display: block;
    color: #ffffff;
}

.sidenav .nav-link i {
    color: #ffffff;
}
.sidenav a:hover {
    color: #858181;
}
.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 1000px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 100px;}
}