{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block main %}
<div class="content-wrapper" >
    <br>
    {% include 'bookkeeping/components/_message.html' %}     
    <div class="div-btn-accounts">
        <a href="{% url 'add_debts' %}"><button class="btn btn-primary btn-lg"><i class="bi bi-plus"></i>Добавить</button></a>
    </div>
    {% include 'bookkeeping/components/_table_debts.html' %}   
    {% include 'bookkeeping/components/_popup.html' %}   
</div>
{% endblock main %}