{% extends 'base.html' %}


{% block title %}
    {{ title }}
{% endblock title %}

{% block main %}
<div class="content-wrapper" style="min-height: 669px;" >
    <div class="content border-bottom mb-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-auto d-flex flex-grow-1 align-items-center">
                    <h1 class="h4 m-0 pr-3 mr-3 border-right">
                        {{ title }}
                    </h1>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li> 
                        <li class="breadcrumb-item active">
                                 {{ title }}
                        </li>
                    </ol>
                </div>
                <br><br><br>
                <div class="col-12 col-md-auto d-flex align-items-center justify-content-center page-actions">
                    <a href="{% url 'create_expense' %}" class="btn btn-success float-right">
                        <i class="fa fa-plus-circle"></i> &nbsp; Добавить 
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            <section id="content" class="content">
                {% include 'bookkeeping/components/_message.html' %}     
                <div class="row">
                    {% include 'bookkeeping/components/_sort_data.html' %}     
                    {% include 'bookkeeping/components/_table_expenses.html' %} 
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock main %} 