<div class="change-list-actions row pb-3">
	<div class="col-12">
		<div class="actions">
			<label>
				<select name="action" required="" class="form-control select2-hidden-accessible" data-select2-id="select2-data-1-h307" tabindex="-1" aria-hidden="true">
					<option value="" selected="" data-select2-id="select2-data-3-86fn">---------</option>
					<option value="delete_selected">Удалить выбранные обьекты</option>
				</select>
				</span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
			</label>
			<label>
				<input type="hidden" name="select_across" value="0" class="select-across">
			</label>
			<button type="submit" class="btn btn-primary" style="margin-right: 5px; margin-left: 15px;" title="Выполнить выбранное действие" value="0"> Выполнить </button>
			 <span> Выбрано <span id="selected-count">0</span> из {{ total_quantity }}</span>
			</div>
	</div>
</div>