<form method="post" novalidate="">
	{% csrf_token %}
	<div class="col-12 pb-2" id="change-list-filters" data-select2-id="select2-data-change-list-filters">
	  <div class="related-widget-wrapper">
		<label style="width: 180px;">
		  <input type="date" name="date_1" class="form-control calendar p-3" required="">
		</label>
        <label style="width: 180px;">
            <input type="date" name="date_2" class="form-control calendar p-3" required="">
        </label>
		<button type="submit" class="btn btn-primary" style="margin-left: 10px;" title="Найти" value="0">Найти</button>
	  </div>
	</div>
</form> 