<div class="col-12 pb-4" id="change-list-filters" data-select2-id="select2-data-change-list-filters">
	<form id="changelist-search" class="form-inline" method="GET" data-select2-id="select2-data-changelist-search">
		<div class="form-group">
			<select class="form-control search-filter select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true" data-name="created_at" data-select2-id="select2-data-4-ggzx">
				<option value="" data-select2-id="select2-data-6-00jy">Дата</option>
				<option value="">---------</option>
				<option data-name="created_at__gte" value="2023-09-12"> Сегодня </option>
				<option data-name="created_at__gte" value="2023-09-05"> Последние 7 дней </option>
				<option data-name="created_at__gte" value="2023-09-01"> Этот месяц </option>
				<option data-name="created_at__gte" value="2023-01-01"> Этот год </option>
			</select>
		</div>
		<div class="form-group" data-select2-id="select2-data-11-rrz8">
			<select class="form-control search-filter select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true" data-name="sum" data-select2-id="select2-data-7-lgdj">
				<option value="" data-select2-id="select2-data-9-jnjb">Сумма</option>
				<option value="" data-select2-id="select2-data-18-2awk">---------</option>
				<option data-name="sum" value="3" data-select2-id="select2-data-19-1fah"> 3 </option>
				<option data-name="sum" value="11" data-select2-id="select2-data-20-4s61"> 11 </option>
				<option data-name="sum" value="112223232" data-select2-id="select2-data-23-viac"> 112223232 </option>
			</select>
			</span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
		</div>
		<div class="form-group" id="search_group">
			<button type="submit" class="btn btn-primary">Найти</button>
		</div>
	</form>
</div>