{% load tags %}
{% get_sorted_table as data %}
<div class="table-div">
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-dark table-hover">
        <thead>
          <tr>
            <th class="text-light md font-monospace">
              <div class="d-flex p-1">
                Категория
              </div>
            </th> 
            <th class="text-light md font-monospace">
              <div class="d-flex p-1">
                Подкатегория
              </div>
            </th> 
            <th class="text-light md font-monospace">
              <div class="d-flex p-1">
                Счет
              </div>
            </th>            
            <th class="text-light md font-monospace">
              <div class="d-flex p-1">
                Валюта
              </div>
            </th>
              {% for key in data %}
              <th class="text-light md font-monospace arrowsdiv">
                <div class="d-flex ">
                  <div class="p-1">{{ key.title }}</div>
                  <div class="d-flex flex-column ">
                    {% for sorter in key.sorters %}
                    <a class="arrowstable" style="color: rgb(236, 234, 234);" href="?sort={{ sorter.0 }}">
                      {{ sorter.1 }}
                    </a>
                    {% endfor %}
                  </div>
                </div>
              </th>
              {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for expense in expenses %}
          <tr>
            <td class="d-flex">
              <div class="px-1">
                {{ expense.category }}
              </div>
              {% if expense.comment %}
              <div class="icon" onclick="showPopup(this)" data-comment="{{ expense.comment }}">
                <i class="fas fa-question-circle fa-blue" style="color:rgb(101, 101, 241)"></i>
              </div>
              {% endif %}
            </td>
            <td>
              {% if expense.subcategory %} 
              {{ expense.subcategory }} 
              {% else %} 
              - 
              {% endif %}
  
            </td>
            <td>
              {{ expense.account }}
            </td>
            <td>
              {{ expense.currency }}
            </td>
            <td>
              {{ expense.created_at }}
            </td>
            <td>
              {{ expense.sum }}
            </td>
            {% endfor %}
          </tr>
          <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
              <strong>
                Итого:
              </strong>
            </td>
            <td>
              {{ total_sum }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  