<div class="table-div">
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-dark table-hover">
        <thead>
          <tr>
            <th class="text-light md font-monospace">Категория</th>
            <th class="text-light md font-monospace">Подкатегория</th>
            <th class="text-light md font-monospace">Дата</th>
            <th class="text-light md font-monospace">Счет</th>
            <th class="text-light md font-monospace">Валюта</th>
            <th class="text-light md font-monospace">Сумма</th>
          </tr>
        </thead>
        <tbody>
          {% for expense in expenses %}
          <tr>
            <td class="d-flex">
              <div class="px-1">
                {{ expense.category }}
              </div>
              {% if expense.comment %}
              <div class="icon" onclick="showPopup(this)" data-comment="{{ expense.comment }}">
                <i class="fas fa-question-circle fa-blue" style="color:rgb(101, 101, 241)"></i>
              </div>
              {% endif %}
            </td>
            <td>
              {% if expense.subcategory %} 
              {{ expense.subcategory }} 
              {% else %} 
              - 
              {% endif %}
  
            </td>
            <td>
              {{ expense.created_at }}
            </td>
            <td>
              {{ expense.account }}
            </td>
            <td>
              {{ expense.currency }}
            </td>
            <td>
              {{ expense.sum }}
            </td>
            {% endfor %}
          </tr>
          <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
              <strong>
                          Итого:
                      </strong>
            </td>
            <td>
              {{ total_sum }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>