{% load tags %}
{% get_sorted_table_categories as data %}
  <div class="col-12 ">
      {% csrf_token %}
      <div class="card">
        <div class="card-body table-responsive p-0">
            <table id="result_list" class="table table-striped">
                <thead>
                    <tr>
                        {% for key in data %}
                        <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                          <div class="text">
                              {% for sorter in key.sorters %}
                              <a href="click" class="sort-link" value="{{ sorter.0 }}">{{ sorter.1 }}
                                <i></i>
                              </a>
                              {% endfor %}
                              <a style="margin-top: .2em;" class="fa fa-times float-right remove-sort-link d-none"></a>
                          </div>
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                  {% for category in categories %}
                    <tr role="row">
                        <td class="field-category">
                          <a href="{% url 'update_category_expense' category.pk %}">{{ category.title }}</a>
                        </td>
                        <td class="field-subcategory">
                          {% if category.subcategory %} 
                          {{ category.subcategory }}
                          {% else %}
                          -
                          {% endif %}
                        </th>
                    {% endfor %}
                      </tr>
                </tbody>
            </table>
        </div>
      </div>  
  </div>
