{% load tags %}
{% get_sorted_table as data %}
<div class="table-div">
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-dark table-hover">
        <thead>
          <tr>
            <th class="text-light md font-monospace">
              <div class="d-flex p-1">
                Категория
              </div>
            </th> 
            <th class="text-light md font-monospace">
              <div class="d-flex p-1">
                Подкатегория
              </div>
            </th> 
            <th class="text-light md font-monospace">
              <div class="d-flex p-1">
                Счет
              </div>
            </th>            
            <th class="text-light md font-monospace">
              <div class="d-flex p-1">
                Валюта
              </div>
            </th>
              {% for key in data %}
              <th class="text-light md font-monospace arrowsdiv">
                <div class="d-flex ">
                  <div class="p-1">{{ key.title }}</div>
                  <div class="d-flex flex-column ">
                    {% for sorter in key.sorters %}
                    <a class="arrowstable" style="color: rgb(236, 234, 234);" href="?sort={{ sorter.0 }}">
                      {{ sorter.1 }}
                    </a>
                    {% endfor %}
                  </div>
                </div>
              </th>
              {% endfor %}
              <th style="width:5%" class="text-light font-monospace text-center">
                Ω
              </th>
          </tr>
        </thead>
        <tbody>
          {% for income in incomes %}
          <tr>
            <td class="d-flex">
              <div class="px-1">
                {{ income.category }}
              </div>
              {% if income.comment %}
              <div class="icon" onclick="showPopup(this)" data-comment="{{ income.comment }}">
                <i class="fas fa-question-circle fa-blue" style="color:rgb(101, 101, 241)"></i>
              </div>
              {% endif %}
            </td>
            <td>
              {% if income.subcategory %} 
              {{ income.subcategory }} 
              {% else %} 
              - 
              {% endif %}
  
            </td>
            <td>
              {{ income.account }}
            </td>
            <td>
              {{ income.currency }}
            </td>
            <td>
              {{ income.created_at }}
            </td>
            <td>
              {{ income.sum }}
            </td>
            <td>
              <div class="d-flex">
                <a href="{% url 'update_income' income.pk %}"><i class="fa-solid fa-pen p-1" style="color: #e1a35b;"></i></a>
                <a href="{% url 'delete_income' income.pk %}"><i class="fa-solid fa-xmark fa-lg p-1" style="color: #ff0000;"></i></a>
              </div>
            </td>
            {% endfor %}
          </tr>
          <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
              <strong>
                Итого:
              </strong>
            </td>
            <td>
              {{ total_sum }} <strong>Σ</strong>
            </td>
            <td>
              ->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  