{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block main %}
<div class="content-wrapper" >
    <br>
    <div class="content">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Ошибка подтверждения по электронной почте</h4>
            <p>Ссылка для подтверждения по электронной почте недействительна или срок ее действия истек. Пожалуйста, зарегистрируйтесь снова.</p>
        </div>
        </div>
    </div>
</div>

{% endblock main %}      