{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block main %}
<div class="content-wrapper">
<br>
    <div class="div-btn-accounts">
        <a href="{% url 'account' %}"><button class="btn btn-primary btn-lg mr-2"><i class="bi bi-plus"></i>Добавить</button></a>
        <a href="{% url 'transfer_to_account' %}"><button class="btn btn-success btn-lg"><i class="bi bi-arrow-left-right"></i> Перевести</button></a>
    </div>
    {% include 'bookkeeping/components/_table.html' %}     
</div>
{% endblock main %}