{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block main %}
<div class="content-wrapper" >
    <br>
    <div class="d-flex flex-column">
        <dt class="text-center col-sm h2 fw-bolder font-monospace col-sm">Моя бухгалтерия - домашняя бухгалтерия в облаке</dt>
        <br>
        <div class="d-flex justify-content-center text-index fs-4 font-monospace ">
            <span class="col-sm"><strong>Моя бухгалтерия</strong> - это закрытый семейный сервис для введения домашней бухгалтерии. <br>
            Сервис поможет взять семье под контроль все расходы и доходы.</span>
        </div>
        <br>
        <div class="d-flex d-flex justify-content text-index fs-4">
            <p class="p-1 col-sm">
                <strong>Сервис нужен тем, кто: </strong><br>
                ➜ Хочет финансовой стабильности в семье.<br>
                ➜ Планирует уменьшить свои расходы.<br>
                ➜ Мечтает распрощаться со старыми долгами и не брать новые.<br>
                ➜ Хочет научиться экономить и копить эффективно.<br>
                ➜ Хочет ответить на вопрос: «куда пропадают деньги?»<br>
            </p>
        </div>
        <div class="d-flex text-index fs-4">
            <div class="col-sm">
                <i class="fs-4 bi-plus-circle"></i>
                <a href="2"
                    class="ms-2 fs-2 fw-bolder d-none d-sm-inline font-monospace">
                    Расход
                </a>
                <p></p>
                <p>✔️ Удобная таблица расходов.</p>
                <p>✔️ Удобная таблица остатков на счетах.</p>
                <p>✔️ Мини-отчеты на странице.</p>
            </div>
            <div class="col-sm">
                <i class="fs-4 bi-dash-circle"></i>
                <a href="{% url 'incomes' %}"
                    class="ms-2 fs-2 fw-bolder d-none d-sm-inline font-monospace">
                    Доход
                </a>
                <p></p>
                <p>✔️ Любая валюта мира.</p>
                <p>✔️ ТОП-5 доходов.</p>
                <p>✔️ Удобный справочник доходов.</p>
            </div>
        </div>
        <br>
        <div class="d-flex text-index fs-4">
            <div class="col-sm">
                    <i class="fs-4 bi-bar-chart-line"></i>
                    <a href="#!"
                        class="ms-2 fs-2 fw-bolder d-none d-sm-inline font-monospace">
                        Статистика
                    </a>
                    <p></p>
                    <p>✔️ Расходы и Доходы за месяц.</p>
                    <p>✔️ История всех заполнений.</p>
                    <p>✔️ Остатки на счетах.</p>
            </div>
            <div class="col-sm">
                <i class="fs-4 bi bi-gear"></i>
                <a href="#!"
                    class="ms-2 fs-2 fw-bolder d-none d-sm-inline font-monospace">
                    Дополнительные возможности
                </a>
                <p></p>
                <p>✔️ Учет долгов и кредитов.</p>
                <p>✔️ Профиль пользователя со статистикой.</p>
                <p>✔️ История всех заполнений.</p>
            </div>
        </div>
    </div>    
</div>
{% endblock main %}