{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block main %}
<div class="content-wrapper" >
    <br>
    {% if messages %}
    <div><div style="margin-top: 5%;"></div></div>
    <div class="d-flex justify-content-center">
        <div class="text-center">
            {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
                {{message}}
            </div>
            {% endfor %}
        </div>
    </div>
    <div><div style="margin-top: 8%;"></div></div>
    {% else %}
    <div><div style="margin-top: 17%;"></div></div>
    {% endif %}
    <div class="d-flex justify-content-center">
        <div class="register">
            <div class="card-body">
                <form action="{% url 'register' %}" class="login-form" method="post" enctype="multipart/form-data">
                    <h2 class="font-monospace text-center fw-bolder">Создать Аккаунт</h2>     
                    <div><div style="margin-top: 4%;"></div></div>
                    {% csrf_token %}
                   <div class="form-group">
                       {{ registration_form.username }}
                   </div>
                   <div class="form-group">
                       {{ registration_form.email }}
                   </div>
                   <div class="form-group">
                       {{ registration_form.password1 }}
                   </div>
                   <div class="form-group">
                       {{ registration_form.password2 }}
                   </div>
                   <button class="btn btn-primary" style="margin-left: 20%;" type="submit">  Создать аккаунт</button>
               </form>
            </div>
        </div>
    </div>
</div>
{% endblock main %}