{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block main %}
<div class="content-wrapper">
    <br>
    <div class="d-flex flex-column">
      <dt class="text-center col-sm h2 fw-bolder font-monospace col-sm">Инструкция</dt>
      <br>
      <div class="d-flex justify-content text-index fs-4">
        <p class="p-1 col-sm">
          <h2>Регистрация и Авторизация</h2>
          <span>1. Регистрация</span>
          <ul>
            <li>
              Для регистрации аккаунта нажимаем на слово 'Зарегистрировать' в левой стороне сайта.
            </li>
          </ul>
        </p>
      </div>
  </div>
</div>
{% endblock main %}