{% extends 'base.html' %}
{% load static %}

  {% block title %}
      {{ title }}
  {% endblock title %}
  
{% block main %}

<div class="content-wrapper">
  <br>
    <div class="text-center manual-text fs-4">
      <p class="p-1 col-sm">
        <h3 class="fs-4 font-monospace">Регистрация и Авторизация</h3>
        <br>
        <h5 class="fs-4 font-monospace">1. Регистрация.</h5>
        <div class="fs-4 font-monospace">
          Для регистрации аккаунта нажимаем на слово 'Зарегистрировать' в левой стороне сайта.
          <br>
          <img src="{% static 'bookkeeping/img/registration/main page registration.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажатия открывается страница регистрации.
          <br>
          <img src="{% static 'bookkeeping/img/registration/registration no data.png' %}"
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">   
        </div>
        <div class="fs-4 font-monospace">
          Заполняем форму и после нажимаем на кнопку 'Зарегистрироваться'.
          <br>
          <img src="{% static 'bookkeeping/img/registration/registration data.png' %}"  
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажатия открывается страница отправки подтверждения на почту. 
          <br>
          <img src="{% static 'bookkeeping/img/registration/send email.png' %}" 

          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          И к вам на почту должно прийти подтвержение аккаунта. 
          <br>
          <img src="{% static 'bookkeeping/img/registration/email message.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          Нажимаем на ссылку и открывается страница успешного подтвержения.
          <br>
          <img src="{% static 'bookkeeping/img/registration/succes registration.png' %}"
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
      </p>
      <p class="p-2 col-sm">
        <h5 class="fs-4 font-monospace">2. Авторизация.</h5>
        <div class="fs-4 font-monospace">
          Для авторизации аккаунта нажимаем на слово 'Войти' в левой стороне экрана.
          <br>
          <img src="{% static 'bookkeeping/img/auth/main page.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажатия открывается страница авторизации.
          <br>
          <img src="{% static 'bookkeeping/img/auth/auth no data.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          Заполлняем форму и после нажимаем на кнопку 'Войти'.
          <br>
          <img src="{% static 'bookkeeping/img/auth/auth data.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажатия вы успешно авторизируетесь.
          <br>
          <img src="{% static 'bookkeeping/img/auth/succes.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
        </div>
      </p>
      <p class="p-3 col-sm">
        <h3 class="fs-4 font-monospace">Категории валюты</h3>
        <br>
        <h5 class="fs-4 font-monospace">1. Добавление категории валюты.</h5>
        <div class="fs-4 font-monospace">
          Для добавления категории валюты нажимаем на кнопку 'Добавить' в правом верхним углу.
          <br>
          <img src="{% static 'bookkeeping/img/categories currencys/add/categories button.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки открывается страница добавления категории.
          <br>
          <img src="{% static 'bookkeeping/img/categories currencys/add/add no data.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          Заполняем форму и после нажимаем кнопку 'Сохранить'.
          <br>
          <img src="{% static 'bookkeeping/img/categories currencys/add/add data.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки валюта успешно добавлена.
          <br>
          <img src="{% static 'bookkeeping/img/categories currencys/add/succes.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
      </p>
      <p class="p-4 col-sm">
        <h5 class="fs-4 font-monospace">2. Редактирование категории валюты.</h5>
        <div class="fs-4 font-monospace">
          Для редактирования валюты нажимаем на название валюты в таблице.
          <br>
          <img src="{% static 'bookkeeping/img/categories currencys/update/categories.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки открывается страница редактирования валюты.
          <br>
          <img src="{% static 'bookkeeping/img/categories currencys/update/in category.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          Редактируем форму и после нажимаем кнопку 'Сохранить'.
          <br>
          <img src="{% static 'bookkeeping/img/categories currencys/update/in category button.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки валюта успешно отредактирована.
          <br>
          <img src="{% static 'bookkeeping/img/categories currencys/update/succes.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
      </p>
      <p class="p-5 col-sm">
        <h5 class="fs-4 font-monospace">3. Удаление категории валюты.</h5>
        <div class="fs-4 font-monospace">
          Для удаления категории валюты нажимаем на название валюты в таблице.
          <br>
          <img src="{% static 'bookkeeping/img/categories currencys/delete/categories.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки открывается страница редактирования валюты.
          <br>
          <img src="{% static 'bookkeeping/img/categories currencys/delete/in category.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажимаем на кнопку 'Удалить'.
          <br>
          <img src="{% static 'bookkeeping/img/categories currencys/delete/in category button.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки открывается страница подтверждения удаления и подтверждаем.
          <br>
          <img src="{% static 'bookkeeping/img/categories currencys/delete/delete.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки категория успешно удалена.
          <br>
          <img src="{% static 'bookkeeping/img/categories currencys/delete/succes.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
      </p>
      <p class="p-6 col-sm">
        <h3 class="fs-4 font-monospace">Категории расходов</h3>
        <br>
        <h5 class="fs-4 font-monospace">1. Добавление категории расхода.</h5>
        <div class="fs-4 font-monospace">
          Для добавления категории расхода нажимаем на кнопку 'Добавить' в правом верхним углу экрана.
          <br>
          <img src="{% static 'bookkeeping/img/categories expenses/add/categories.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки открывается страница добавления категорий.
          <br>
          <img src="{% static 'bookkeeping/img/categories expenses/add/add category no data.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          Заполняем форму и после нажимаем кнопку 'Сохранить'.
          <br>
          <img src="{% static 'bookkeeping/img/categories expenses/add/add category data.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки категория успешно добавлена.
          <br>
          <img src="{% static 'bookkeeping/img/categories expenses/add/succes.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
      </p>
      <p class="p-7 col-sm">
        <h5 class="fs-4 font-monospace">2. Редактирование категории расхода.</h5>
        <div class="fs-4 font-monospace">
          Для редактирования расхода нажимаем на название расхода в таблице.
          <br>
          <img src="{% static 'bookkeeping/img/categories expenses/update/categories.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажатия открывается страница редактирования расхода.
          <br>
          <img src="{% static 'bookkeeping/img/categories expenses/update/in category.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          Редактируем форму и после нажимаем кнопку 'Сохранить'.
          <br>
          <img src="{% static 'bookkeeping/img/categories expenses/update/in category button.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки категория успешно отредактирована.
          <br>
          <img src="{% static 'bookkeeping/img/categories expenses/update/succes.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
      </p>

      <p class="p-8 col-sm">
        <h5 class="fs-4 font-monospace">3. Удаление категории расхода.</h5>
        <div class="fs-4 font-monospace">
          Для удаления категории расхода нажимаем на название расхода в таблице.
          <br>
          <img src="{% static 'bookkeeping/img/category expenses/delete/categories.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажатия открывается страница редактирования расхода.
          <br>
          <img src="{% static 'bookkeeping/img/category expenses/delete/in category.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажимаем на кнопку 'Удалить'.
          <br>
          <img src="{% static 'bookkeeping/img/category expenses/delete/in category button.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки открывается страница подтверждения удаления и подтверждаем.
          <br>
          <img src="{% static 'bookkeeping/img/categories expenses/delete/delete.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки категория успешно удалена.
          <br>
          <img src="{% static 'bookkeeping/img/categories expenses/delete/succes.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
      </p>
      <p class="p-9 col-sm">
        <h3 class="fs-4 font-monospace">Категории доходов</h3>
        <br>
        <h5 class="fs-4 font-monospace">1. Добавление категории дохода.</h5>
        <div class="fs-4 font-monospace">
          Для добавления категории дохода нажимаем на кнопку 'Добавить' в правом верхним углу экрана.
          <br>
          <img src="{% static 'bookkeeping/img/categories incomes/add/categories.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки открывается страница добавления категорий.
          <br>
          <img src="{% static 'bookkeeping/img/categories incomes/add/add categories no data.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          Заполняем форму и после нажимаем кнопку 'Сохранить'.
          <br>
          <img src="{% static 'bookkeeping/img/categories incomes/add/add categories data.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки категория успешно добавлена.
          <br>
          <img src="{% static 'bookkeeping/img/categories incomes/add/succes.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
      </p>
      <p class="p-10 col-sm">
        <h5 class="fs-4 font-monospace">2. Редактирование категории дохода.</h5>
        <div class="fs-4 font-monospace">
          Для редактирования дохода нажимаем на название дохода в таблице.
          <br>
          <img src="{% static 'bookkeeping/img/categories incomes/update/categories.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажатия открывается страница редактирования дохода.
          <br>
          <img src="{% static 'bookkeeping/img/categories incomes/update/in category.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          Редактируем форму и после нажимаем кнопку 'Сохранить'.
          <br>
          <img src="{% static 'bookkeeping/img/categories incomes/update/in category update.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки категория успешно отредактирована.
          <br>
          <img src="{% static 'bookkeeping/img/categories incomes/update/succes.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
      </p>   
      <p class="p-11 col-sm">
        <h5 class="fs-4 font-monospace">3. Удаление категории дохода.</h5>
        <div class="fs-4 font-monospace">
          Для удаления категории дохода нажимаем на название дохода в таблице.
          <br>
          <img src="{% static 'bookkeeping/img/categories incomes/delete/categories.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажатия открывается страница редактирования дохода.
          <br>
          <img src="{% static 'bookkeeping/img/categories incomes/delete/in category.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажимаем на кнопку 'Удалить'.
          <br>
          <img src="{% static 'bookkeeping/img/categories incomes/delete/in category button.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки открывается страница подтверждения удаления и подтверждаем.
          <br>
          <img src="{% static 'bookkeeping/img/categories incomes/delete/delete.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки категория успешно удалена.
          <br>
          <img src="{% static 'bookkeeping/img/categories incomes/delete/succes.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
      </p>  
      <p class="p-9 col-sm">
        <h2 class="fs-4 font-monospace text-dark">Категории счетов</h2>
        <br>
        <h3 class="fs-4 font-monospace text-dark">1. Добавление категории счетов.</h3>
        <div class="fs-4 font-monospace">
          Для добавления категории счета нажимаем на кнопку 'Добавить' в правом верхним углу экрана.
          <br>
          <img src="{% static 'bookkeeping/img/categories accounts/add/categories.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки открывается страница добавления категорий.
          <br>
          <img src="{% static 'bookkeeping/img/categories accounts/add/add categories no data.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          Заполняем форму и после нажимаем кнопку 'Сохранить'.
          <br>
          <img src="{% static 'bookkeeping/img/categories accounts/add/add categories data.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки категория успешно добавлена.
          <br>
          <img src="{% static 'bookkeeping/img/categories accounts/add/succes.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
      </p>
      <p class="p-10 col-sm">
        <h5 class="fs-4 font-monospace">2. Редактирование категории счета.</h5>
        <div class="fs-4 font-monospace">
          Для редактирования счета нажимаем на название счета в таблице.
          <br>
          <img src="{% static 'bookkeeping/img/categories accounts/update/categories.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажатия открывается страница редактирования счета.
          <br>
          <img src="{% static 'bookkeeping/img/categories accounts/update/in category.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          Редактируем форму и после нажимаем кнопку 'Сохранить'.
          <br>
          <img src="{% static 'bookkeeping/img/categories accounts/update/in category update.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки категория успешно отредактирована.
          <br>
          <img src="{% static 'bookkeeping/img/categories accounts/update/succes.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
      </p>   
      <p class="p-11 col-sm">
        <h5 class="fs-4 font-monospace">3. Удаление категории счета.</h5>
        <div class="fs-4 font-monospace">
          Для удаления категории счета нажимаем на название счета в таблице.
          <br>
          <img src="{% static 'bookkeeping/img/categories accounts/delete/categories.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажатия открывается страница редактирования счета.
          <br>
          <img src="{% static 'bookkeeping/img/categories accounts/delete/in category.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажимаем на кнопку 'Удалить'.
          <br>
          <img src="{% static 'bookkeeping/img/categories accounts/delete/in category button.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки открывается страница подтверждения удаления и подтверждаем.
          <br>
          <img src="{% static 'bookkeeping/img/categories accounts/delete/delete.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки категория успешно удалена.
          <br>
          <img src="{% static 'bookkeeping/img/categories accounts/delete/succes.png' %}" 
          style="
          padding-top: 50px;
          padding-bottom: 50px;
          width: 80%;
          height: 30%;
          position: relative;">  
        </div>
      </p>

      
      <!-- От сюда ------------------------------------------------------------------------------------------------------------------------------------------------->


      <p class="p-12 col-sm">
        <h3 class="fs-4 font-monospace">Счета</h3>
        <br>
        <h5 class="fs-4 font-monospace">1. Добавление счета.</h5>
        <div class="fs-4 font-monospace">
          Для добавления счета нажимаем на кнопку 'Добавить' в правом верхним углу экрана.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки открывается страница добавления счета.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          Примечание: Если в каком-то списке нету ничего вы можете нажать на кнопку '+' возле списка.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          Заполняем форму и после нажимаем кнопку 'Сохранить'.
          <br>
        </div>
      </p>
      <p class="p-13 col-sm">
          <h5 class="fs-4 font-monospace">2. Редактирование счета.</h5>
          <div class="fs-4 font-monospace">
            Для редактирования счета нажимаем на название счета в таблице.
            <br>
          </div>
          <div class="fs-4 font-monospace">
            После нажатия открывается страница редактирования счета.
            <br>
          </div>
          <div class="fs-4 font-monospace">
            Редактируем форму и после нажимаем кнопку 'Сохранить'.
            <br>
          </div>
      </p>       
      <p class="p-15 col-sm">

        <div class="fs-4 font-monospace">
          Для удаления счета нажимаем на название счета в таблице.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки открывается страница редактирования счета.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          После нажимаем кнопку 'Удалить'.
          <br>
        </div>
      </p>
      <p class="p-16 col-sm">
        <h5 class="fs-4 font-monospace">4. Переводы с Счета на Счет</h5>
        <div class="fs-4 font-monospace">
          Для перевода с счета на счет нажимаем на кнопку 'Перевести' в правом верхним углу экрана.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки открывается страница переводов.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          Заполняем форму и после нажимаем кнопку 'Сохранить'.
          <br>
        </div>
      </p>
      <p class="p-17 col-sm">
        <h3 class="fs-4 font-monospace">Доходы</h3>
        <br>
        <h5 class="fs-4 font-monospace">1. Добавление Дохода</h5>
        <div class="fs-4 font-monospace">
          Для добавления дохода нажимаем на кнопку 'Добавить' в правом верхним углу экрана.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки открывается страница добавления дохода.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          Примечание: Если в каком-то списке нету ничего, вы можете нажать на кнопку '+' возле списка.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          Заполняем форму и после нажимаем кнопку 'Сохранить'.
          <br>
        </div>
      </p>
      <p class="p-18 col-sm">
        <h5 class="fs-4 font-monospace">2. Редактирование Дохода</h5>
        <div class="fs-4 font-monospace">
          Для редактирования дохода нажимаем на название дохода в таблице.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки открывается страница редактирования дохода.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          Редактируем форму и после нажимаем кнопку 'Сохранить'.
          <br>
        </div>
      </p>  
      <p class="p-19 col-sm">
        <h5 class="fs-4 font-monospace">3. Удаление Дохода</h5>
        <div class="fs-4 font-monospace">
          Для удаления дохода нажимаем на название дохода в таблице.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки открывается страница редактирования дохода.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          После нажимаем кнопку 'Удалить'.
          <br>
        </div>
      </p>      
      <p class="p-20 col-sm">
        <h3 class="fs-4 font-monospace">Расходы</h3>
        <br>
        <h5 class="fs-4 font-monospace">1. Добавление Расхода</h5>
        <div class="fs-4 font-monospace">
          Для добавления расхода нажимаем на кнопку 'Добавить' в правом верхним углу экрана.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки открывается страница добавления расхода.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          Примечание: Если в каком-то списке нету ничего, вы можете нажать на кнопку '+' возле списка.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          Заполняем форму и после нажимаем кнопку 'Сохранить'.
          <br>
        </div>
      </p>
 


      <!-- До сюда ------------------------------------------------------------------------------------------------------------------------------------------------->



      <p class="p-21 col-sm">
        <h5 class="fs-4 font-monospace">2. Редактирование Расхода</h5>
        <div class="fs-4 font-monospace">
          Для редактирования расхода нажимаем на название расхода в таблице.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки открывается страница редактирования расхода.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          Редактируем форму и после нажимаем кнопку 'Сохранить'.
          <br>
        </div>
      </p>
      <p class="p-22 col-sm">
        <h5 class="fs-4 font-monospace">3. Удаление Расхода</h5>
        <div class="fs-4 font-monospace">
          Для удаления расхода нажимаем на название расхода в таблице.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки открывается страница редактирования расхода.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          После нажимаем кнопку 'Удалить'.
          <br>
        </div>
      </p>
      <p class="p-23 col-sm">
        <h3 class="fs-4 font-monospace">Мои Долги</h3>
        <br>
        <h5 class="fs-4 font-monospace">1. Добавление Долга</h5>
        <div class="fs-4 font-monospace">
          Для добавления долга нажимаем на кнопку 'Добавить' в правом верхним углу.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки открывается страница добавления долга.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          Примечание: Если в каком-то списке нету ничего, вы можете нажать на кнопку '+' возле списка.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          Заполняем форму и после нажимаем кнопку 'Сохранить'.
          <br>
        </div>
      </p>    
      <p class="p-24 col-sm">
        <h5 class="fs-4 font-monospace">2. Редактирование Долга</h5>
        <div class="fs-4 font-monospace">
          Для редактирования долга нажимаем на название долга в таблице.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки открывается страница редактирования долга.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          Примечание: Если в каком-то списке нету ничего, вы можете нажать на кнопку '+' возле списка.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          Заполняем форму и после нажимаем кнопку 'Сохранить'.
          <br>
        </div>
      </p>    
      <p class="p-25 col-sm">
        <h5 class="fs-4 font-monospace">3. Удаление Долга</h5>
        <div class="fs-4 font-monospace">
          Для удаления долга нажимаем на название долга в таблице.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки открывается страница редактирования долга.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          После нажимаем на кнопку 'Удалить'.
          <br>
        </div>
      </p> 
      <p class="p-26 col-sm">
        <h5 class="fs-4 font-monospace">4. Возврат долга</h5>
        <div class="fs-4 font-monospace">
          Для возврата долга нажимаем на кнопку возврата в таблице.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки открывается страница возврата долга.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          Заполняем форму и нажимаем на кнопку 'Сохранить'.
          <br>
        </div>
      </p>   
      <p class="p-27 col-sm">
        <h3 class="fs-4 font-monospace">Долги</h3>
        <br>
        <h5 class="fs-4 font-monospace">1. Добавление Долга</h5>
        <div class="fs-4 font-monospace">
          Для добавления долга нажимаем на кнопку 'Добавить' в правом верхним углу.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки открывается страница добавления долга.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          Примечание: Если в каком-то списке нету ничего, вы можете нажать на кнопку '+' возле списка.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          Заполняем форму и после нажимаем кнопку 'Сохранить'.
          <br>
        </div>
      </p>    
      <p class="p-28 col-sm">
        <h5 class="fs-4 font-monospace">2. Редактирование Долга</h5>
        <div class="fs-4 font-monospace">
          Для редактирования долга нажимаем на название долга в таблице.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки открывается страница редактирования долга.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          Примечание: Если в каком-то списке нету ничего, вы можете нажать на кнопку '+' возле списка.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          Заполняем форму и после нажимаем кнопку 'Сохранить'.
          <br>
        </div>
      </p>    
      <p class="p-29 col-sm">
        <h5 class="fs-4 font-monospace">3. Удаление Долга</h5>
        <div class="fs-4 font-monospace">
          Для удаления долга нажимаем на название долга в таблице.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки открывается страница редактирования долга.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          После нажимаем на кнопку 'Удалить'.
          <br>
        </div>
      </p> 
      <p class="p-30 col-sm">
        <h5 class="fs-4 font-monospace">4. Возврат долга</h5>
        <div class="fs-4 font-monospace">
          Для возврата долга нажимаем на кнопку возврата в таблице.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          После нажатия кнопки открывается страница возврата долга.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          Заполняем форму и нажимаем на кнопку 'Сохранить'.
          <br>
        </div>
      </p>   
      <p class="p-31 col-sm">
        <h3 class="fs-4 font-monospace">Статистика</h3>
        <br>
        <h5 class="fs-4 font-monospace">1. График Счетов</h5>
        <div class="fs-4 font-monospace">
          Чтобы узнать цену обьекта надо на него нацелиться.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          Для того чтоб скрыть обьект из графика нажмите на цвет с названием, ниже графика.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          Чтобы сохранить график в виде фото-карточки нажмите на кнопку 'фотоаппарат' в правом верхним углу.
          <br>
        </div>
      </p>    
      <p class="p-32 col-sm">
        <h5 class="fs-4 font-monospace">График Доходов</h5>
        <div class="fs-4 font-monospace">
          Чтобы отсортировать график по дате нажмите на форму с датой и нажмите кнопку 'Найти'
          <br>
        </div>
        <div class="fs-4 font-monospace">
          Чтобы узнать цену обьекта надо на него нацелиться.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          Для того чтоб скрыть обьект из графика нажмите на цвет с названием, ниже графика.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          Чтобы сохранить график в виде фото-карточки нажмите на кнопку 'фотоаппарат' в правом верхним углу.
          <br>
        </div>
      </p> 
      <p class="p-33 col-sm">
        <h5 class="fs-4 font-monospace">График Расходов</h5>
        <div class="fs-4 font-monospace">
          Чтобы отсортировать график по дате нажмите на форму с датой и нажмите кнопку 'Найти'
          <br>
        </div>
        <div class="fs-4 font-monospace">
          Чтобы узнать цену обьекта надо на него нацелиться.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          Для того чтоб скрыть обьект из графика нажмите на цвет с названием, ниже графика.
          <br>
        </div>
        <div class="fs-4 font-monospace">
          Чтобы сохранить график в виде фото-карточки нажмите на кнопку 'фотоаппарат' в правом верхним углу.
          <br>
        </div>
      </p> 
  </div>
</div>
  {% endblock main %} 