{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block main %}
<main class="main-margin">
    <div class="d-flex justify-content-center">
        <div class="transfer_to_account" style="margin-top: 20%;">
            <div class="card-body">
                <form action="{% url 'transfer' %}" class="login-form" method="post" enctype="multipart/form-data">
                    <h2 class="text-center fw-bold">Перевести на счет</h2>
                    <div><div style="margin-top: 10%;"></div></div>
                    {% csrf_token %}
                    <div class="form-group">
                        {{ transfer_form.account1  }}
                    </div>
                    <div class="form-group">
                        {{ transfer_form.account2 }}
                    </div>
                    <div class="form-group">
                        {{ transfer_form.course }}
                    </div>
                    <div class="form-group">
                        {{ transfer_form.som }}
                    </div>            
                    <div><div style="margin-top: 5%;"></div></div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary"type="submit">Перевести</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock main %}