{% load static %}

<link rel="stylesheet" href="{% static 'bookkeeping/vendor/glightbox/css/glightbox.min.css' %}">
<!-- Range slider-->
<link rel="stylesheet" href="{% static 'bookkeeping/vendor/nouislider/nouislider.min.css' %}">
<!-- Choices CSS-->
<link rel="stylesheet" href="{% static 'bookkeeping/vendor/choices.js/public/assets/styles/choices.min.css' %}">
<!-- Swiper slider-->
<link rel="stylesheet" href="{% static 'bookkeeping/vendor/swiper/swiper-bundle.min.css' %}">
<!-- Google fonts-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&amp;display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;800&amp;display=swap">
<!-- theme stylesheet-->
<link rel="stylesheet" href="{% static 'bookkeeping/css/style.default.css' %}" id="theme-stylesheet">
<!-- Custom stylesheet - for your changes-->
<link rel="stylesheet" href="{% static 'bookkeeping/css/custom.css' %}">
<!-- Favicon-->
<link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
<!-- Login -->
<link rel="stylesheet" href="{% static 'bookkeeping/css/login_pading.css' %}">
<!-- Custom Title -->
<link rel="stylesheet" href="{% static 'bookkeeping/css/style.custom.title.css' %}">
<!-- Custom Cart -->
<link rel="stylesheet" href="{% static 'bookkeeping/css/style.custom.cart.css' %}">
<!-- Custom margin main -->
<link rel="stylesheet" href="{% static 'bookkeeping/css/style.main.css' %}">
<!-- Custom margin div -->
<link rel="stylesheet" href="{% static 'bookkeeping/css/style.div.index.css' %}">
<link rel="stylesheet" href="{% static 'bookkeeping/css/style.div.adaptive.css' %}">

