{% load static %}
<link rel="stylesheet" href="{% static 'bookkeeping/vendor/glightbox/css/glightbox.min.css' %}">
<!-- Range slider-->
<link rel="stylesheet" href="{% static 'bookkeeping/vendor/nouislider/nouislider.min.css' %}">
<!-- Choices CSS-->
<link rel="stylesheet" href="{% static 'bookkeeping/vendor/choices.js/public/assets/styles/choices.min.css' %}">
<!-- Login -->
<link rel="stylesheet" href="{% static 'bookkeeping/css/login_pading.css' %}">
<!-- Custom margin main -->
<link rel="stylesheet" href="{% static 'bookkeeping/css/style.main.css' %}">
<!-- Custom margin div -->
<link rel="stylesheet" href="{% static 'bookkeeping/css/style.div.index.css' %}">
<!-- Custom adaptive div -->
<link rel="stylesheet" href="{% static 'bookkeeping/css/style.div.adaptive.css' %}">
<!-- Custom table div -->
<link rel="stylesheet" href="{% static 'bookkeeping/css/style.table.css' %}">
<!-- Popup -->
<link rel="stylesheet" href="{% static 'bookkeeping/css/style.popup.css' %}">



