@media screen and (min-width: 900px)  {
    .arrowstable {
        font-size: 9px; padding-top: 2px; 
        display: none;
    }    
    .arrowsdiv:hover .arrowstable {
        display: block;
    }
}
.arrowstable {
    font-size: 9px; padding-top: 2px; 
}

